.final-screen {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.final-scores {
  margin: 20px 0;
  font-size: 20px;
}

.winner-text {
  margin: 20px 0;
  font-size: 26px;
  color: lightseagreen;
}

.restart-btn {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: lightseagreen;
  color: black;
}
